/*
  Naming the files:
  * if you have a single stylesheet, the convention is either main.css or style.css
  * for homepages, the convention is index.html
*/

/*
  try to organize your code into specific blocks by how they work together
  use the TF STUFF below as an example :)
*/

/*
  change your "Spaces: 4" in the bottom right of brackets to "Spaces: 2" so that
  way we are consistent :)
*/

/*
  It's a good idea to keep all the same tags together
  as in, combine both the bodies into the same code block.
*/
body {
  background: white;
  color: black;
  text-align: center;
}


body {
  font-family: 'Advent Pro', sans-serif;
  font-size: 15px;
}


h1{
  font-size: 70px;
  margin: 0px;
  margin-top:5px; 
  margin-left: 195px;
}


h2{
  font-size: 20px;
  margin-bottom: 35px;
  margin-left: 190px;
}


.rectangle {
  display:inline-block;
  width:100px;
  height:1px;
  background:black;
  margin-bottom: 20px;
  margin-left: 190px;
}


/*
  convention when naming selectors is to do all lower case, and use dashes
*/
.NavBar{
  margin-left: 40px;
  padding: 7px;
  overflow: hidden;
  width: 100%;
  background-color:darkred;    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
}


li {
  margin: 1%;
  display: inline;
  padding: 5px;
}


/*
  these are on separate lines because it makes reading git changes easier.
  there is a consistent 2 lines between each rule for readability.
*/
.NavBar a,
.NavBar a:visited {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


.NavBar a:hover,
.NavBar a:active {
  background-color: #9B6A70;
  padding: 8px; 
}


/* rearranged the rules so similar ones are near each other */
.Logistics {
  width: 100%;
  display: inline-block;
  margin-left: 50px;
  padding: 5px;
  
  background-color:black;
  text-align: left;
  font-size: 12px;
}


.Logistics a,
.Logistics a:visited {
  color: #FFFFFF; /* want to use hex for colors b/c dif browsers interpret dif */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


.Logistics a:hover,
.Logistics a:active {
  background-color: #A1A1A1;
  padding: 5px;
}


/* ----- BEGIN TF STUFF ----- */


#tfheader {
  background-color: #FFFFFF;
}

#tfnewsearch {            
  top:1px;
  right: 1px;
  display: inline-block;
  position: absolute;
}

.tftextinput {
  margin: 0;
  font-family: 'Advent Pro', sans-serif;
  font-size:12px;
  border:1px solid #000; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}


.tfbutton {
  margin: 0;
  padding: 3px 3px;
  font-family: 'Advent Pro', sans-serif;		
  font-size:12px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #9B6A70; border-right:0px;
  background: #9B6A70;
  background: -webkit-gradient(linear, left top, left bottom, from(darkred), to(#050001));
  background: -moz-linear-gradient(top,  #9B6A70,  #9B6A70);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}


.tfbutton:hover {
  text-decoration: none;
  background: #9B6A70;
  background: -webkit-gradient(linear, left top, left bottom, from(#9B6A70), to(#9B6A70));
  background: -moz-linear-gradient(top,  #9B6A70,  #9B6A70);
}


/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}


.tfclear{
  clear:both;
}


/* ----- END TF STUFF ----- */


a:hover, a:active {
  background-color: #9B6A70;
}


/* 
  this is to position the logo?
  you're going to want to make this a class or an id b/c
  all images in the website will go to this location.
*/
img {
  top:8px;
  left: 2px;
  height: 90px;
  float: left;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}


#rectangle{
  width: 100px;
  height: 1000px;
  background:#A1A1A1;
}


/*
  when naming classes, it is best to choose ones that are not
  locations or style based. for example, .logistics is better
  than .top-navigation b/c you never know when it will change
  try changing the rules below to be more descriptive.
*/
.top {
  position:absolute;
  left:0; right:0;
  height: 300px;
}


.left {
  position:absolute;
  left:0; top:0px; bottom:;
  width: 100px;
}


.main {
  position: absolute;
  left:100px;
  top:300px;
  right:0;
  bottom:0;
}


/* combine this with the one above */
.main { background: #FFFFFF ; }