/*
  Naming the files:
  * if you have a single stylesheet, the convention is either main.css or style.css
  * for homepages, the convention is index.html
*/

/*
  try to organize your code into specific blocks by how they work together
  use the TF STUFF below as an example :)
*/

/*
  change your "Spaces: 4" in the bottom right of brackets to "Spaces: 2" so that
  way we are consistent :)
*/

/*
  It's a good idea to keep all the same tags together
  as in, combine both the bodies into the same code block.
*/

body {
  font-family: 'Advent Pro', sans-serif;
  font-size: 15px;
  background: white;
  color: black;
  text-align: center;
}


h1{
  font-size: 80px;
  margin: 0px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 70px
}



h2{
  font-size: 25px;
  margin-bottom: 35px;
  margin-left: 70px;
}


.rectangle {
  display:inline-block;
  width:100px;
  height:1px;
  background:black;
	margin-bottom: 25px;
	margin-left: 10px;
	margin-right: -60px;
}



.navbar{
  margin-left: 40px;
  padding: 7px;
  overflow: hidden;
  width: 100%;
  background-color:darkred;    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
}


li {
  margin: 1%;
  display: inline;
  padding: 5px;
}


.navbar a,
.navbar a:visited {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	padding: 8px;

}


.navbar a:hover,
.navbar a:active {
  background-color: #9B6A70;
}


.logistics {
  width: 100%;
  display: inline-block;
  margin-left: 50px;
  padding: 5px;
  
  background-color:black;
  text-align: left;
  font-size: 12px;
}


.logistics a,
.logistics a:visited {
  color: #FFFFFF; /* want to use hex for colors b/c dif browsers interpret dif */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	padding: 5px;

}


.logistics a:hover,
.logistics a:active {
  background-color: #A1A1A1;
}


/* ----- SEARCH BAR ----- */

#tfheader {
  background-color: #FFFFFF;
}

#tfnewsearch {            
  top:1px;
  right: 1px;
  display: inline-block;
  position: absolute;
}

.tftextinput {
  margin: 0;
  font-family: 'Advent Pro', sans-serif;
  font-size:12px;
  border:1px solid #000; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

.tfbutton {
  margin: 0;
  padding: 3px 3px;
  font-family: 'Advent Pro', sans-serif;		
  font-size:12px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #9B6A70; border-right:0px;
  background: #9B6A70;
  background: -webkit-gradient(linear, left top, left bottom, from(darkred), to(#050001));
  background: -moz-linear-gradient(top,  #9B6A70,  #9B6A70);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}

.tfbutton:hover {
  text-decoration: none;
  background: #9B6A70;
  background: -webkit-gradient(linear, left top, left bottom, from(#9B6A70), to(#9B6A70));
  background: -moz-linear-gradient(top,  #9B6A70,  #9B6A70);
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}

.tfclear{
  clear:both;
}

/* ----- END SEARCH BAR STUFF ----- */


a:hover, a:active {
  background-color: #9B6A70;
}


/* Image styling and social media icons begins */

#logo {
  top:25px;
  left: 2px;
  height: 90px;
  float: left;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

#facebook {
  top:132px;
	left:0px;
  float: left;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
#pinterest {
  top:162px;
  left: 0px;
  float: left;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
#twitter {
  top:162px;
  left: 29px;
  float: left;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
#instagram {
  top:131px;
  left: 29px;
  float: left;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

/* Image styling and social media icons ends */




/* Image Carousel styling begins */

#slider {
    width: 650px;
    height: 350px;
    margin: 2em auto;
    position: relative;
    border: 4px solid #bbb;
    overflow: hidden;
    box-shadow: 2px 2px 2px #ddd;
	  left: 50px;
		display: inline-block;
		margin-right: 160px;
		margin-top: 30px;


}

div.slide {
    width: 650px;
    height: 350px;
    text-align: center;
    position: absolute;
    top: 0;
    background: #ccc;
    line-height: 300px;
    font-size: 2em;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity: 0;
		z-index:1;
}

#s1 {
    left: 0;
		z-index: 1;
}

#s2 {
    left: 650px;
		z-index: 1;
}

#s3 {
    left: 1300px;
		z-index: 1;
}

#s4 {
    left: 1950px;
		z-index: 1;
}

#s5 {
    left: 2600px;
		z-index: 1;
}

#controls {
    text-align: center;
		margin-left: 1px;
		z-index: 1;
		margin-bottom:10px;
}

#controls a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 70px;
    background:darkred;
    color: #fff;
    text-decoration: none;
		border-radius: 50%;
    line-height: 32px;
		z-index: 1;
}

div.slide:target {
    left: 0;
    opacity: 1;
    z-index: 10;

}

#morningafter {
height: 350px;
width: 650px;
}
#aprilshowers{
height: 350px;
width: 650px;
}
#carmina{
height: 350px;
width: 650px;
}
#nyfw{
height: 350px;
width: 650px;
}
#drakenatural{
height: 350px;
width: 650px;
}
/* Image Carousel styling ends */

#recentarticlestitle{
font-size: 25px;
text-align: left;
margin-left: 92px;
background: #A1A1A1;
font-weight: bold;
width:1330px;


}

#carouselbackground{
margin-top: 215px;
margin-left: 90px;
width: 100%;
height: 450px;
background: #000000;
display: inline-block;


}

#rectangle{
  width: 100px;
  height: 1000px;
  background:#A1A1A1;
}

.header {
  position:absolute;
	top: 0;
  left:0; right:0;
  height: 195px;
}



.left {
  position:absolute;
  left:0; top:0px; bottom:;
  width: 100px;
}

.main {
	position: absolute;
	left: 100px;
	top: 235px;
	width: 1065px;
}

